* {
  margin: 0;
  padding: 0;
}
html {
  font-size: calc(100vw/7.5);
  font-family: "楷体";
}
html i {
  font-style: normal;
}
header {
  background-image: url('http://static.galileo.xiaojukeji.com/static/tms/seller_avatar_256px.jpg');
  background-size: 100%;
}
header .name {
  padding: 0.48rem 0.24rem 0.36rem 0.48rem;
  display: flex;
  color: #ffffff;
  position: relative;
}
header .name img {
  width: 1.28rem;
  height: 1.28rem;
  margin-right: 0.32rem;
  border-radius: 0.04rem;
}
header .name .txt {
  margin-top: 0.04rem;
}
header .name .txt h3 {
  font-size: 0.32rem;
  color: #ffffff;
  line-height: 0.36rem;
  margin-bottom: 0.16rem;
  display: flex;
}
header .name .txt h3 span {
  width: 0.6rem;
  height: 0.36rem;
  margin-right: 0.12rem;
}
header .name .txt h3 img {
  width: 0.6rem;
  height: 0.36rem;
}
header .name .txt .p1 {
  font-size: 0.24rem;
  line-height: 1;
  margin-bottom: 0.2rem;
}
header .name .txt .p2 {
  font-size: 0.2rem;
  line-height: 0.24rem;
  display: flex;
  margin-bottom: 0.04rem;
  align-items: center;
}
header .name .txt .p2 span {
  width: 0.32rem;
  height: 0.32rem;
  margin-right: 0.08rem;
}
header .name .txt .p2 img {
  width: 0.32rem;
  height: 0.32rem;
}
header .name .activity {
  width: 0.8rem;
  height: 0.20rem;
  font-size: 0.2rem;
  color: #ffffff;
  line-height: 0.24rem;
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: 200;
  padding: 0.14rem 0;
  text-align: center;
  border-radius: 0.25rem;
  position: absolute;
  right: 0.24rem;
  bottom: 0.36rem;
}
header .name .activity i {
  margin-left: 0.04rem;
}
.notic {
  background-color: rgba(7, 17, 27, 0.2);
  width: calc(100%-0.48rem);
  height: 0.56rem;
  padding: 0 0.24rem;
  display: flex;
  align-items: center;
}
.notic img {
  width: 0.44rem;
  height: 0.24rem;
  margin-right: 0.08rem;
}
.notic .text p {
  font-size: 0.2rem;
  line-height: 0.24rem;
  font-weight: 200;
  width: 0.88rem;
  overflow: hidden;
  /*超过部分不显示*/
  text-overflow: ellipsis;
  /*超过部分用点点表示*/
  white-space: nowrap;
  /*不换行*/
}
.notic .text p i {
  margin-left: 0.08rem;
}
.tab {
  height: 0.8rem;
  line-height: 0.28rem;
  font-size: 0.28rem;
  display: flex;
  align-items: center;
  border-bottom: 0.04rem solid rgba(7, 17, 27, 0.1);
}
.tab p {
  flex: 1;
  text-align: center;
}
.tab p.on {
  color: #f00;
}
.content {
  width: 100%;
  display: flex;
}
.content .swiper-container {
  width: 600px;
  height: 300px;
}
.content .foods_menu {
  /*x轴超出部分隐藏*/
  overflow-x: hidden;
  height: 8.64rem;
  overflow-y: auto;
  padding-right: 0.24rem;
  width: 1.6rem;
  font-size: 0.24rem;
  background: #f3f5f7;
}
.content .foods_menu h3 {
  width: 1.6rem;
  height: 1.08rem;
  padding-left: 0.24rem;
  align-items: center;
  display: flex;
}
.content .foods_menu h3.bjcolor {
  background: #fff;
}
.content .foods_menu hr {
  width: 1.12rem;
  margin-left: .24rem;
}
.content .foods_list {
  overflow-x: hidden;
  height: 8.64rem;
  flex: 1;
  position: relative;
}
.content .foods_list .swiper-slide {
  height: auto !important;
}
.content .foods_list .pr {
  position: absolute;
  height: 100%;
  top: 30px;
}
.content .foods_list p.price {
  line-height: 0.52rem;
  color: #93999f;
  height: 0.52rem;
  font-size: 0.24rem;
  align-items: center;
  display: flex;
  padding-left: 0.28rem;
  background-color: #f3f5f7;
  border-left: 0.04rem solid #d9ddee;
}
.content .foods_list .commodity {
  padding: 0.36rem;
  display: flex;
  position: relative;
  border-bottom: 1px solid rgba(7, 17, 27, 0.1);
}
.content .foods_list .commodity img {
  width: 1.14rem;
  height: 1.14rem;
}
.content .foods_list .commodity .combo {
  margin-left: .2rem;
  flex: 1;
}
.content .foods_list .commodity .combo h2 {
  font-size: 0.28rem;
  margin-top: .04rem;
  color: #07111b;
}
.content .foods_list .commodity .combo h3 {
  font-size: 0.2rem;
  margin-top: .16rem;
  color: #93999f;
}
.content .foods_list .commodity .combo h3 i {
  margin-left: 0.24rem;
}
.content .foods_list .commodity .combo p {
  font-size: 0.28rem;
  color: #ff0000;
  line-height: 0.48rem;
}
.content .foods_list .commodity .combo p i {
  font-size: 0.2rem;
}
.content .foods_list .commodity .combo p s {
  color: #93999f;
  font-size: 0.20rem;
  margin-left: 0.16rem;
}
.content .foods_list .commodity .combo .jian {
  position: absolute;
  width: 0.48rem;
  height: 0.48rem;
  bottom: .36rem;
  right: 1.32rem;
}
.content .foods_list .commodity .combo .jia {
  position: absolute;
  width: 0.48rem;
  height: 0.48rem;
  right: .36rem;
  bottom: .36rem;
}
.evaluate {
  display: none;
}
.evaluate .appraise {
  display: flex;
}
.evaluate .appraise .grade {
  width: 2.75rem;
  margin: 0.36rem 0;
  border-right: 0.04rem solid rgba(7, 17, 27, 0.1);
}
.evaluate .appraise .grade b {
  font-size: 0.48rem;
  color: #ff9900;
  line-height: 0.56rem;
  display: flex;
  align-items: center;
  /*垂直居中*/
  justify-content: center;
  /*水平居中*/
}
.evaluate .appraise .grade i {
  font-size: 0.24rem;
  color: #07111b;
  line-height: 0.24rem;
  margin-top: 0.12rem;
  display: flex;
  align-items: center;
  /*垂直居中*/
  justify-content: center;
  /*水平居中*/
}
.evaluate .appraise .grade span {
  font-size: 0.20rem;
  color: #07111b;
  line-height: 0.2rem;
  margin-top: 0.16rem;
  display: flex;
  align-items: center;
  /*垂直居中*/
  justify-content: center;
  /*水平居中*/
}
.evaluate .appraise .star {
  width: 4.74rem;
  margin: 0.36rem 0.48rem 0.2rem 0.48rem ;
}
.evaluate .appraise .star b {
  font-size: 0.24rem;
  display: flex;
  align-items: center;
  /*垂直居中*/
  padding-bottom: 0.16rem;
}
.evaluate .appraise .star b span {
  margin: 0 0.24rem;
}
.evaluate .appraise .star b i {
  font-size: 0.24rem;
  color: #ff9900;
  margin-left: 0.24rem;
}
.evaluate p.empty {
  width: 100%;
  height: 0.36rem;
  background-color: #f3f5f7;
  border-bottom: 0.01rem solid rgba(7, 17, 27, 0.1);
  border-top: 0.01rem solid rgba(7, 17, 27, 0.1);
}
.evaluate .appraisal-area {
  display: flex;
  border-bottom: 0.04rem solid rgba(7, 17, 27, 0.1);
  padding: 0.36rem ;
}
.evaluate .appraisal-area div {
  font-size: 0.24rem;
  background: #f00;
  width: 1.2rem;
  height: .64rem;
  line-height: .64rem;
  text-align: center;
  margin-left: 0.16rem;
  border-radius: 0.06rem;
}
.evaluate .select-evaluation {
  width: 100%;
  display: flex;
  padding: 0.24rem 0 ;
  border-bottom: 0.04rem solid rgba(7, 17, 27, 0.1);
  font-size: 0.24rem;
  line-height: 0.48rem;
  color: #93999f;
}
.evaluate .select-evaluation i {
  margin-left: 0.36rem;
  font-size: 0.48rem;
  line-height: 0.48rem;
  color: #93999f;
  margin-right: 0.08rem;
}
.evaluate .user-evaluation {
  display: flex;
  padding: 0.36rem;
}
.evaluate .user-evaluation img {
  width: 0.56rem;
  height: 0.56rem;
  border-radius: 50%;
}
.evaluate .user-evaluation .user {
  margin-left: 0.24rem;
}
.evaluate .user-evaluation .user h3 {
  font-size: 0.2rem;
  color: #07111b;
  line-height: 0.24rem;
  margin-bottom: 0.08rem;
}
.evaluate .user-evaluation .user p {
  margin-bottom: 0.12rem;
  font-size: 0.2rem;
  font-weight: 200;
  color: #93999f;
  line-height: 0.24rem;
}
.evaluate .user-evaluation .user p span {
  margin-right: 0.12rem;
}
.evaluate .user-evaluation .user p span img {
  width: 0.2rem;
  height: 0.2rem;
}
.evaluate .user-evaluation .user h2 {
  font-size: 0.24rem;
  color: #07111b;
  line-height: 0.36rem;
}
.b {
  display: none;
}
.balance {
  height: 1.04rem;
  width: 100%;
  background: #141d27;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  z-index: 2;
}
.balance .cargo .cor {
  width: 0.88rem;
  height: 0.88rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin-left: 0.36rem;
  margin-bottom: -0.12rem;
  border: 0.12rem solid #141d27;
  position: relative;
  bottom: 0.16rem;
  font-size: 0.48rem;
  color: #ffffff;
  line-height: 0.48rem;
  display: flex;
  align-items: center;
  /*垂直居中*/
  justify-content: center;
  /*水平居中*/
}
.balance b {
  font-size: 0.32rem;
  display: flex;
  align-items: center;
  /*垂直居中*/
  margin-left: 0.24rem;
  padding-right: 0.24rem;
}
.balance b.total {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.balance .money {
  width: 2.1rem;
  height: 1.04rem;
  color: #ffffff;
  background: #f00;
}
.balance .money b.send {
  height: 1.04rem;
  font-size: 0.24rem;
  line-height: 0.48rem;
  display: flex;
  align-items: center;
  /*垂直居中*/
  justify-content: center;
  /*水平居中*/
}
